
@import './assets/base.css';

h1 {
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 10px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

header {
  margin-bottom: 10px;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

.slider-thumb::-webkit-slider-thumb {
  @apply appearance-none w-3 h-3 rounded-full cursor-pointer;
  background-color: hsla(160, 100%, 37%, 0.8);
}

.slider-thumb::-webkit-slider-thumb:hover {
  background-color: hsla(160, 100%, 37%, 1);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.btnBgSelected {
  background-color: hsla(160, 100%, 50%, 1);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  .btnHover:hover {
    background-color: hsla(160, 100%, 70%, 1);
  }
}