body,
body #app header,
body #app aside,
body #app footer,
body #app .VPNavBar .content,
body #app .VPNavBarTitle,
body #app article {
    transition: background-color 0.4s;
}

.VPHero h1.name {
    font-size: 40px;
}
.VPHero p.text {
    font-size: 22px;
}
.VPHero p.tagline {
    font-size: 18px;
}
