body,
body #app header,
body #app aside,
body #app footer,
body #app .VPNavBar .content,
body #app .VPNavBarTitle,
body #app article {
    transition: background-color 0.4s;
}

:root {
  --vp-home-hero-image-background-image: url('images/demo.gif')
}
.VPHero .image-container .image-bg {
    border-radius: 1%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.VPHero h1.name {
    font-size: 40px;
}
.VPHero p.text {
    font-size: 22px;
}
.VPHero p.tagline {
    font-size: 18px;
}
